<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}</title>
  
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  <link rel="canonical" href="{{ canonical_url }}">
  
  {{ content_for_header }}
  
  {% render 'vite-tag' with 'style.css' %}
</head>

<body>
  <main>
    {{ content_for_layout }}
  </main>
  
  {% render 'vite-tag' with 'main.js' %}
</body>
</html>
